.header_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header_nav ul {
    width: 38%;
    display: flex;
}

.header_nav ul li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
    font-size: 19px;
}
.header_nav ul li a {
    cursor: pointer;
    color: black;
}

.header_nav ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: red;
}